/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Oswald', sans-serif;*/

/*nav*/
@import url('https://fonts.googleapis.com/css?family=Arimo');
.top-menu {
  background: rgba(255,255,255,.5);
  box-shadow: 3px 0 7px rgba(0,0,0,.3);
  padding: 20px;
  position:fixed;
  z-index: 999999;
}
.top-menu:after {
  content: "";
  display: table;
  clear: both;
}
.navbar-logo {display: inline-block;}
.navbar-logo>img{
    width:70px;height:70px;
}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.menu-main li {display: inline-block;}
.menu-main a {
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 61px;
  padding-left: 20px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: #F73E24;
  transition:.3s linear;
}
.menu-main a:before {
  content: "";
  width: 9px;
  height: 9px;
  background: #F73E24;
  position: absolute;
  left: 50%;
  transform: rotate(45deg) translateX(6.5px);
  opacity: 0;
  transition: .3s linear;
}
.menu-main a:hover:before {opacity: 1;}
@media (max-width: 660px) {
.menu-main {
  float: none;
  padding-top: 20px;
}
.top-menu {
  text-align: center;
  padding: 20px 0 0 0;
 position: absolute;
}
}

/*nav*/


/*sec1*/
.sec1{
    width: 100%;
    min-height: 100vh;
    background: url("../images/sec1.png") no-repeat center center;
    background-size: cover;
    padding:0 10px;
    position: relative
    ;
    background-attachment:fixed;
}

@media screen and (max-width:830px){
    .sec1 > img {    
        width: 600px;
        margin:0;
    }
 
}
.sec1_arrow{
    position: absolute;
    bottom:0px;
    width:100%;

}
.sec1_arrow > * {
    border-radius: 50%;
    width: 75px;
    height:75px;
    transition: all 1s;

}

.sec1_arrow>* :hover{
    border:4px solid white;
    border-radius: 50%;
    width: 50px;
    height:50px;
    transition: all .4s; 


}

.sec1_arrow > * > i {
color:white;
font-size:50px;
transform: rotate(90deg);
}
/*sec1*/

/*sec2*/
.sec2{
    width: 100%;
    padding:30px 10px;
}
.sec2_content{
  max-width: 530px;
  margin:0 0 0 25px;  
}

.sec2_content>h1 {
color:#102228;
font-family: 'Oswald', sans-serif;
margin:15px 0;
font-size:40px;
}
.sec2_content>p {
color:#515151;
font-family: 'Oswald', sans-serif;
margin:0 0 15px 0;
line-height:23px;
}
.sec2_content> div{

}
.sec2_content> div>*{
    display:block;
    background: #ed4e53;
    color:#fff;
    font-size:14px;
    font-weight:600;
    padding:15px 30px;
    text-transform: uppercase;
    border-radius:25px;
    box-shadow:4px 3px 24px rgba(237,78,84,.5);
    letter-spacing:1px;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;


}
.sec2_content>div>a:hover{
background:red;
}

@media screen and (max-width:1050px){
    .sec2 > img {    
        width: 100%;
    }
    @media screen and (max-width:880px){
        .sec2 
        {
            flex-wrap:wrap;
        }
        .sec2_content{
            margin:20px 0 0 0;
        }
        @media screen and (max-width:600px){
            .sec2_content>h1 {
                margin:10px 0 10px 0;
                font-size:24px;
                }
            }
        }
    }

/*sec2*/


/*sec3*/
.sec3{
    padding:30px 10px;
    max-width:1530px;
    margin: 0 auto;
    margin: 20px 111px;
}
.sec3>h2{
color:#102228;
font-family: 'Oswald', sans-serif;
font-size:40px;
text-align:center;
position: relative;
}


.sec3>h2::before{
    position: absolute;
    top: 105%;
    content:"";
    display:inline-block;
    width:65px;
    height:4px;
    background: #ed4e53;
}

.sec3_block{
    width: 230px;
    text-align: center;
    position: relative;
    margin:20px 20px;
}
.sec3_block>img{
    width: 100%;
}

.sec3_block>a{
    font-size:17px;
    color:black;
    text-decoration: none;

}

.sec3_block::before{
    content:"";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index:3;

}
@media screen and(max-width:600px)
{
    .sec3>h2{
        font-size:30px;
        margin:0 0 10px 0;
    }
    .sec3>h2::before{
        width:50px;
        height:3px;
    }

    .sec3_block{
        margin:15px 0px;
    }
}


/*sec3*/


/*sec4*/
.sec4 {
    width: 100%;
    padding: 30px 10px;

}
.sec4_big {
    margin: 0 30px 0 0;
    border-radius: 7px;
    width: 700px;
    position: relative;
}
.sec4_big > img {
    border-radius: inherit;
    width: 100%;
    height:630px;
}

.sec4_block > .sec4_little:first-child {
    margin: 0 0 30px 0;
}
.sec4_little {
    border-radius: 7px;
    width: 450px;
    position: relative;
}
.sec4_little > img {
    border-radius: inherit;
    width: 100%;
    height:300px;
}
.sec4>h2{
    color:#102228;
    font-family: 'Oswald', sans-serif;
    font-size:40px;
    text-align:center;
    position: relative;
    }
    
    
.sec4>h2::before{
        position: absolute;
        top: 105%;
        content:"";
        display:inline-block;
        width:80px;
        height:4px;
        background: #ed4e53;
    }

@media screen and (max-width: 1160px){
    .sec4_big {
        margin: 0 30px 30px 30px;
    }

}
@media screen and (max-width: 700px){
    .sec4_big {
        margin: 0 0 30px 0;
    }

}

@media screen and (max-width: 700px){
    .sec4_big {
        width: 100%;
        height:20%;
        
    }
    .sec4_big>img {
        width: 100%;
        height:300px;
        
    }
    .sec4_block {
        width: 100%;
        height:50%;
    }
    .sec4_little {
        width: 100%;
        height:50%;
    }

    @media screen and (max-width: 700px){
        .sec4 > h2 {
            font-size: 30px;
            margin: 0 0 10px 0;
        }
        .sec4 > h2::before {
            width: 60px;
            height: 3px;
        }
    }
}




/*sec4*/


/* sec8 */
.sec8 {
    width: 100%;
}

.sec8_block {
    height: 850px;
    width: 100%;
    position: relative;
}


.sec8_block > div {
    width: 50%;
    height: 100%;
}
.sec8_block_bg {
    
}
.sec8_block_bg1 {
    background: url("../images/8sec_1.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 8px 8px 0px 8px;
}
.sec8_block_bg2 {
    background: url("../images/8sec_2.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 0px 8px 8px 8px;
}
.sec8_block_text {
    
}
.sec8_block_text > div {
    max-width: 600px;
    padding: 10px;
}
.sec8_block_text > div > h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    margin: 0 0 5px 0;
    color: #1D2228;
}
.sec8_block_text > div > p {
    color: #515151;
    margin: 20px 0 0 0;
    font-size: 18px;
    line-height: 23px;
}
.sec8_block_text > div > div {
    width: 100%;
    margin: 30px 0 0 0;
}
.sec8_block_text > div > div > a {
    color: white;
    padding: 16px 33px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #EE032B;
    border-radius: 50px;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
}

.sec8_mobile_img {
    display: none;
}
@media screen and (max-width: 1136px){
    .sec8_block {
        height: 600px;
    }

}
@media screen and (max-width: 900px){
    .sec8_block_text > div {
        padding: 10px 0;
    }
.sec8_block_bg {
    display: none;
}
.sec9_img {
    display: none;
}



.sec8_block {
    height: auto;
    padding: 0 10px;
}

.sec8_block > div {
    width: 100%;
    height: auto;
}

.sec8_mobile_img {
    width: 100%;
    display: block;
    border-radius: 7px;

}
.sec8_block {
    margin: 0 0 20px 0;
}

}
@media screen and (max-width: 600px){
    .sec8_block_text > div > h2 {
        font-size: 24px;
        margin: 0;
    }
    .sec8_block_text > div > p {
        margin: 15px 0 0 0;
        font-size: 16px;
        line-height: 21px;
    }
}
/* sec8 */

/*last_block*/
.sec9_block_text {
    
}
.sec9_block_text > div {
    max-width: 600px;
    padding: 10px;
}
.sec9_block_text > div > h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin: 0 0 5px 0;
    color: #1D2228;
}
.sec9_block_text > div > ul {
    color: #515151;
    margin: 20px 0 0 0;
    font-size: 15px;
    line-height: 23px;
}
.sec9_block_text > div > div {
    width: 100%;
    margin: 30px 0 0 0;
}
.sec9_block_text > div > div > a {
    color: white;
    padding: 16px 33px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #EE032B;
    border-radius: 50px;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
}

/*last_block*/

/*footer*/
#footer {
    background: #ed4e53;
    color:black;
    font-size: 70%;
    padding: 5px; clear : both;
    }

#footer a {
        color: black;
        }
        
        #footer a:hover {
        color: grey;
        }

        #footer p {
            padding: 2px;
            text-align: center;
            }
            
            .clearfloat {
            
            clear: both;
            }
/*footer*/





/*modal*/
.container {
	background: #fff;
	margin: 30px auto;
	max-width: 700px;
	overflow: hidden;
	padding: 20px;
	border-radius: 4px;
}
.btn {
	display: inline-block;
	color: #000;
	padding: 8px;
	border: 0;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
	border-radius: 3px;
	margin: 0 3px 8px 0;
}




.modal {
	display: none;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 130px;
	width: 100%;
	height: 100%;
	overflow: auto;
}

 

.modalContent {
	position: relative;
	margin: 30px auto;
	padding: 0;
	max-width: 600px;
	border: 1px solid rgba(128,128,128,.9);
	box-shadow: 0 3px 7px rgba(0,0,0,0.4);
	border-radius: 6px;
	opacity: 1;
	transition: opacity 0.4s;
	animation-name: modalopen;
	animation-duration: 0.4s;
}
.modalHeader {
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
	padding: 13px;
	font-size: 16px;
	font-weight: 500;
	border-radius: 6px 6px 0 0;
}
.modalBody {
	background-color: #fff;
	line-height: 22px;
	padding: 15px;
}
.modalFooter {
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	border-radius: 0 0 6px 6px;
	padding: 13px;
	font-size: 16px;
	font-weight: 500;
}
.modalFooter div {
	float: right;
	margin: -7px -10px 0 0;
}
.modalClose {
	color: #bbb;
	float: right;
	font-size: 24px;
	font-weight: bold;
}
.modalClose:hover,.modalClose:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
@keyframes modalopen {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* Мобильный вид страницы */
@media (max-width: 768px) {
	.modalContent {
		width: 94%;
	}
	.modalContent {
		margin: 15px auto;
    }
    .modal{
        top: 280px;
    }
}

/*modal*/